- flashcode = { :notice => "success", :error => "error", :alert => nil  }
- flash.each do |name, msg|
  %div{ :class => "alert #{'alert-' + flashcode[name] if flashcode[name]}" }
    %button{type: "button", class: "close", "data-dismiss" => "alert"} &times;
    = flash[name]


   

    
    


